*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-style: normal;
	background-color: $white;
	color: $black;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	touch-action: manipulation;
	overscroll-behavior: none;
	overflow: hidden;
}

html {
	text-transform: uppercase;
}

* {
	user-select: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
